llm_configs:
  general_configs:
    max_token_length: 24064
    temperature: 1
    top_p: 1
  qwen2.5-7b:
    model: "Qwen/Qwen2.5-7B-Instruct"
    model_path: "/home/cshdtian/pretrained_models/LargeLanguageModels/Qwen-2.5-7b/models--Qwen--Qwen2.5-7B-Instruct/snapshots/a09a35458c702b33eeacc393d103063234e8bc28"
  qwen2.5-1.5b:
    model: "Qwen/Qwen2.5-1.5B-Instruct"
  qwen2.5-3b:
    model: "Qwen/Qwen2.5-3B-Instruct"
  qwen2.5-math-7b:
    model: "Qwen/Qwen2.5-Math-7B-Instruct"
    model_path: None
    max_token_length: 4096
    temperature: 0.6
  qwq-32b:
    model: "Qwen/QWQ-32B-Instruct"
    model_path: None
  qwen2.5-72b:
    model: "Qwen/Qwen2.5-72B-Instruct"
    model_path: None
  deepseek-math-7b:
    model: "deepseek-ai/deepseek-math-7b-instruct"
    model_path: None
    max_token_length: 4096